* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.hidden {
	display: none;
}

#slideshowContainer {
    position: absolute;
    top: 0;
    transition: all 1s ease-in-out;
}

.landscape #slideshowContainer {
    width: 100%;
    position: absolute;
    left: 0;
    height: calc(100% - 80px);
}

.portrait #slideshowContainer {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 80px);
}

.slideshow-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-height: 100%;
    max-width: 100%;
}

#slideshowControls {
    position: absolute;
    box-shadow: 0px 0px 20px 0 rgb(0,0,0,0.2);
    transition: all 1s ease-in-out;
}

.landscape #slideshowControls {
	bottom: 0;
	left: 0;
    height: 80px;
    width: 100%;
    background: linear-gradient(90deg, #ff8d2d, #d54500);
}

.portrait #slideshowControls {
	bottom: 0;
	left: 0;
    height: 100%;
    width: 80px;
    background: linear-gradient(180deg, #ff8d2d, #d54500);
}

#directionControls {
    position: absolute;
    height: 80px;
    width: 80px;
    text-align: center;
    color: white;
    transition: all 1s ease-in-out;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
}

.landscape #directionControls {
	right: 0;
	bottom: 0;
	border-left: 1px solid #ea6917;
}

.portrait #directionControls {
	bottom: 0;
	right: 0;
	border-top: 1px solid #ea6917;
}

.direction-btn {
    border: none;
    padding: 0;
    width: 30px !important;
    height: 30px;
    line-height: 35px;
    position: absolute;
    display: block;
    background: none;
    transition: all 0.25s ease-in-out;
    width: 30px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
}

.direction-btn-left {
	top: 7.5px;
	left: 7.5px;
}

.direction-btn-right {
	top: 7.5px;
	right: 7.5px;
}

.direction-arrow {
    line-height: 28px;
    transition: all 0.25s ease-in-out;
}

.direction-btn-selected,
.direction-btn:hover {
    border: 1px solid white;
    background: linear-gradient(90deg, #fe8c2c, transparent);
}

.direction-btn-selected .direction-arrow,
.direction-btn:hover .direction-arrow {
	color: white;
}

#directionControlsInfo {
    position: absolute;
    bottom: 7.5px;
    width: 100%;
    font-family: 'Oxygen', sans-serif;
    border-top: 1px solid #ea6917;
    padding-top: 3px;
}

#playDirectionMsg {
    font-size: 13px;
    letter-spacing: 1px;
}

/* Animations */

.fade-in {
	animation-name: fadeIn;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fade-out {
	animation-name: fadeOut;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}